body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  line-height: 1.5;
  font-size: 16px;
  background-color: #635add;
}

.header a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

.header a:hover,
.header a:focus {
  color: #2196f3;
}

.logo {
  font-size: 18px;
}

.item-menu li {
  list-style: none;
}

.item-menu {
  display: flex;
  justify-content: flex-end;
}
