.red,
.green {
  height: 100px;
}

.red {
  background-color: red;
  margin-bottom: 5px;
}

.green {
  background-color: green;
}

.blue {
  height: 70px;
  background-color: blue;
}

@media screen and (max-width: 767px) {
  .green {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .green {
    flex-basis: calc(30% - 5px);
    margin-right: 5px;
    height: 200px;
  }

  .blue {
    flex-basis: 70%;
    height: 100px;
    height: 200px;
  }
}
