body {
  font-family: "PT Sans", sans-serif;
  color: #212121;
  line-height: 1.5;
  font-size: 16px;
}

a {
  color: #1976d2;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #ff4081;
  text-decoration: underline;
}
